@using Youtube.Enums
@inherits AppComponent

<form @onsubmit="OnSubmit" @onsubmit:preventDefault="PreventDefault" 
        class="@($"yt-form clr-8 { Class } { Enum.GetName(Adornment)?.ToLower()}")">

    <div class="yt-form__input-box">
        <input type="text" value="@InputValue" placeholder="@Placeholder" class="@($"yt-form__input { InputClass } clr-8")"/>
    </div>

    @if(ChildContent is not null)
    {
        <button class="@($"yt-form__icon-box clr-6")">
            @ChildContent
        </button>
    }
</form>

@code {
    [Parameter]
    public bool PreventDefault { get; set; } = false;

    [Parameter]
    public EventCallback OnSubmit { get; set; }

    [Parameter]
    public string InputValue { get; set; } = "";

    [Parameter]
    public string Placeholder { get; set; } = "";

    [Parameter]
    public string InputClass { get; set; } = "";

    [Parameter]
    public Adornment Adornment { get; set; } = Adornment.Start;
}
